block content
  h1= "My Travel Bucket List"
  h2= "Places I'd Like to Visit"
  ul
    each place in wished
      li= place.name
  h2= "Places I've Already Been To"
  ul
    each place in visited
      li= place.name
